<section id="inschrijven">
        
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    <i class="fa fa-pencil fa-1x wow bounceIn" data-wow-delay=".1s">&nbsp;</i>
                        Inschrijven
                    </h2>                
                <hr class="primary">
                <p class="text-faded">De inschrijving vindt plaats via <a href="https://ntbinschrijven.nl">ntbinschrijven.nl</a></p>

            </div>
        </div>
    </div>

</section>
