<section class="bg-primary" id="over">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    <i class="fa fa-info-circle fa-1x wow bounceIn" data-wow-delay=".1s">&nbsp;</i>
                    29 september 2019
                </h2>
                <hr class="light">
                <p class="text-faded">Op 29 september 2019 vindt de 6e wedstrijd van de RBR Series 2019 plaats.
                    Naast de teams zijn er ook (beperkt) startplaatsen voor individuele deelnemers bij de B Series
                    mannen en A series vrouwen. Per startserie kunnen er maximaal 40 deelnemers starten.
                </p>
                <p class="text-faded">

                    <li class="text-faded">Recreanten: 40 deelnemers 1x start 2-8-1.</li>
                    <li class="text-faded">B serie: 32 deelnemers en maximaal 8 losse inschrijvingen.</li>
                    <li class="text-faded">Dames: 28 deelnemers en maximaal 12 losse inschrijvingen.</li>
                    <li class="text-faded">A serie: 40 deelnemers.</li>
                    <hr class="light">
                    <p class="text-faded">
                        De races bestaan uit 2 identieke series van 1900m lopen 8km fietsen en 1100 meter
                        lopen.
                    </p>
                    <hr class="light">
                    <p class="wow bounceIn">
                        <i class="fa fa-exclamation-triangle fa-1x"></i>
                        Stayeren is toegestaan, <b>er mag geen ligstuur gebruikt worden.</b>
                    </p>
                    <p class="text-faded">
                        Stayeren is toegestaan: Gedubbelde atleten mogen niet meestayeren bij degenen door wie ze zijn
                        ingehaald. Sanctie = DSQ
                    </p>
                    <hr class="light">
                    <p class="text-faded">
                        Het parkoers is compact op de wielerbaan van WV Pijnenburg.
                    </p>
                    <hr class="light">
                    <p class="text-faded">
                        Tijdwaarneming: chip zit in jullie startnummer. Tijdwaarneming wordt gedaan door
                        Sportleadfacilities
                    </p>
                    <p class="text-faded">
                            De winnaar van de 1e serie verdient voor zijn team een bonuspunt in de eindafrekening
                            series. Losse inschrijvers tellen daarbij niet mee.
                            Aandachtspunten: 1e fietsronde wordt de oversteek van deelnemers/publiek richting kantine
                            gekruist. Op dat moment enkele minuten zal oversteken niet worden toegestaan ivm de
                            veiligheid. Houd rekening met je mededeelnemers.
                            Langzame deelnemers zouden in theorie ingehaald kunnen worden door fietsers tijdens run
                            1. Als zij ongeveer 1600m gelopen hebben kan het zo zijn dat de snelsten al 2000m gelopen,
                            gewisseld en 1600m gefietst hebben.We verwachten dit overigens niet.
                    </p>
                </p>
            </div>
        </div>
    </div>
</section>