<section class="bg-primary" id="parcours">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    <i class="fa fa-compass fa-1x wow bounceIn" data-wow-delay=".1s">&nbsp;</i>
                    Parcours
                </h2>
                <hr class="light">

                <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                                De races bestaan uit 2 identieke series van 1900m lopen 8km fietsen en 1100 meter lopen.
                        </div>
                </div>
                <hr class="light">

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        1e loopronde: 1900 meter
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        Fietsen: 1 grote ronde van 2000 meter en 4x 1500 meter = 8000 meter
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        2e loopronde: aanloopstuk en 2x 500 meter = 1100 meter
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>