<section id="programma">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    <i class="fa fa-clock-o fa-1x wow bounceIn" data-wow-delay=".1s">&nbsp;</i>
                    Programma</h2>
                <hr class="primary">
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">8.45</div>
                <div class="col-lg-7 text-left">Inschrijfbureau open</div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">tot 9.50</div>
                <div class="col-lg-6 text-left">Mogelijkheid inrijden op parkoers</div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">10.00</div>
                <div class="col-lg-6 text-left">Start recreanten 2-8-1</div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">11.00</div>
                <div class="col-lg-6 text-left">Start B serie 1</div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">11.35</div>
                <div class="col-lg-6 text-left">Start B serie 2</div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">12.15</div>
                <div class="col-lg-6 text-left">Prijsuitreiking recreanten</div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">12.10-12.20</div>
                <div class="col-lg-6 text-left">Mogelijkheid inrijden op parkoers</div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">12.25</div>
                <div class="col-lg-6 text-left">Start dames A serie 1</div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">13.00</div>
                <div class="col-lg-6 text-left">Start dames A serie 2</div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">13.45</div>
                <div class="col-lg-6 text-left">Start Heren A serie 1</div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">14.20</div>
                <div class="col-lg-6 text-left">Start Heren A serie 2</div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">15.00</div>
                <div class="col-lg-6 text-left">Laatste deelnemer binnen</div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">15.30</div>
                <div class="text-left">Prijsuitreiking B en A series</div>
            </div>
            <hr class="primary">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center wow bounceIn">Op andere tijdstippen dan genoemde is het in verband met de veiligheid
                    verboden op het parkoers in te rijden. Dit kan prima achter het terrein op het fietspad langs het kanaal.
                </div>
            </div>
            <hr class="primary">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    De 2e serie start 35 minuten na de 1e start.<br /><br />
                    De nummers 6 tm 10 krijgen 4 seconden achterstand bij de start van de 2e serie<br />
                    De nummers 11 tm 15 krijgen 8 seconden achterstand bij de start van de 2e serie<br />
                    De nummers 16 tm 20 krijgen 12 seconden achterstand bij de start van de 2e serie<br />
                    De nummers 21 tm 25 krijgen 16 seconden achterstand bij de start van de 2e serie<br />
                    De nummers 26 tm 30 krijgen 20 seconden achterstand bij de start van de 2e serie<br />
                    De nummers 31 tm 35 krijgen 24 seconden achterstand bij de start van de 2e serie<br />
                    De nummers 36 tm 40 krijgen 28 seconden achterstand bij de start van de 2e serie<br />
                    In de 2e serie wordt dus gestart in 8 waves van 5 atleten (of minder atleten als er geen 40 starters
                    zijn).
                </div>
            </div>
        </div>
    </div>
    </div>
</section>