<section class="bg-primary" id="uitslagen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    <i class="fa fa-trophy fa-1x wow bounceIn" data-wow-delay=".1s">&nbsp;</i>
                    Uitslagen
                </h2>
                <hr class="light">
                <p class="text-faded">
                    Zodra de uitslagen bekend zijn zullen deze hier gepubliceerd worden en op de site van RBRSeries.nl
                </p>
            </div>
        </div>
    </div>
</section>
